DB_HOST=mysql
DB_PORT=3306
DB_NAME=kasir_db
DB_USER=kasir_user
DB_PASSWORD=
DB_ROOT_PASSWORD=root
NODE_ENV=development
PORT=3001
JWT_SECRET=
JWT_EXPIRES_IN=8h
LIGHTSAIL_BUCKET_REGION=ap-southeast-1
LIGHTSAIL_BUCKET_NAME=
LIGHTSAIL_BUCKET_ACCESS_KEY_ID=
LIGHTSAIL_BUCKET_SECRET_ACCESS_KEY=
LIGHTSAIL_BUCKET_PUBLIC_URL=
LIGHTSAIL_BUCKET_KEY_PREFIX=kasir-app
MAX_UPLOAD_SIZE_MB=5
