NODE_ENV=production
PORT=3001

DB_HOST=your-lightsail-db-endpoint
DB_PORT=3306
DB_NAME=kasir_db
DB_USER=kasir_user
DB_PASSWORD=replace-me
DB_ADMIN_USER=master_username_optional
DB_ADMIN_PASSWORD=master_password_optional

JWT_SECRET=replace-me
JWT_EXPIRES_IN=8h

LIGHTSAIL_BUCKET_REGION=ap-southeast-1
LIGHTSAIL_BUCKET_NAME=your-lightsail-bucket-name
LIGHTSAIL_BUCKET_ACCESS_KEY_ID=LSIAxxxxxxxxxxxxxxxx
LIGHTSAIL_BUCKET_SECRET_ACCESS_KEY=replace-me
LIGHTSAIL_BUCKET_PUBLIC_URL=https://your-lightsail-bucket-name.ap-southeast-1.amazonaws.com
LIGHTSAIL_BUCKET_KEY_PREFIX=kasir-prod
MAX_UPLOAD_SIZE_MB=5